<template>
  <MovieForm :movie="movie" @submit-movie="editMovie"></MovieForm>
</template>

<script>
import MovieForm from "../components/MovieForm.vue"
import moviesService from "../services/moviesService"

export default {
  name: "EditMovie",
  components: { MovieForm },
  data: () => ({
    movie: {}
  }),
  created() {
    this.movie = this.fetchMovie()
  },
  methods: {
    fetchMovie() {
      return moviesService.findOne(this.$route.params.id)
    },
    editMovie(e) {
      this.movie = e
      moviesService.update(e)
    }
  }
}
</script>

<style scoped></style>
