<template>
  <v-main>
    <v-container class="fill-height no-padding" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4" class="no-padding">
          <v-card>
            <v-img
              :src="movie.poster"
              height="500px"
              class="white--text align-end full-height"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.8)"
            >
              <v-card-title v-text="movie.title"></v-card-title>
              <v-card-subtitle class="white--text">
                {{ movie.genre }}, {{ movie.date }}, {{ movie.lang }}
              </v-card-subtitle>
              <v-card-text>
                <p>{{ movie.description }}</p>
                <p>
                  Réalisateur: {{ movie.director.fullName }} ({{
                    movie.director.birthDate
                  }})
                </p>
              </v-card-text>
            </v-img>
            <v-card-actions>
              <StarRating
                :rating="movie.rating"
                @change-rating="updateRating"
              ></StarRating>
              <v-spacer></v-spacer>

              <v-btn icon @click="deleteMovie">
                <v-icon color="red">
                  mdi-delete
                </v-icon>
              </v-btn>

              <router-link
                :to="{ name: 'editMovie', params: { id: movie.id } }"
              >
                <v-btn icon>
                  <v-icon>mdi-pen</v-icon>
                </v-btn>
              </router-link>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import StarRating from "../components/StarRating.vue"
import moviesService from "../services/moviesService"

export default {
  name: "Movie",
  components: { StarRating },
  data: () => ({
    movie: {}
  }),
  created() {
    this.movie = this.fetchMovie()
  },
  methods: {
    fetchMovie() {
      return moviesService.findOne(this.$route.params.id)
    },
    deleteMovie() {
      moviesService.delete(this.movie.id)
      this.$router.push("/")
    },
    updateRating(newRating) {
      this.movie = moviesService.update({ ...this.movie, rating: newRating })
    }
  }
}
</script>

<style scoped>
@media screen and (max-width: 500px) {
  .full-height {
    height: calc(100vh - 52px) !important;
  }
}
</style>
