<template>
  <div class="margin-one no-padding">
    <v-row>
      <v-col col="12">
        <v-card>
          <v-toolbar :dark="true" flat>
            <v-text-field
              v-model="search"
              hide-details
              prepend-icon="search"
              single-line
            ></v-text-field>

            <v-spacer></v-spacer>

            <v-select
              v-model="searchState"
              style="max-width: 150px"
              :items="searchStates"
              menu-props="auto"
              hide-details
              label="Select"
              single-line
            ></v-select>

            <v-btn icon @click="dialog = true">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card>
      </v-col>
    </v-row>
    <MovieCard
      v-for="movie in filteredMovies"
      :key="movie.id"
      :movie="movie"
    ></MovieCard>
    <v-dialog v-model="dialog" width="600px">
      <MovieForm @submit-movie="createMovie"></MovieForm>
    </v-dialog>
    <v-dialog v-model="importing" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Importation des films de test en cours
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import MovieCard from "../components/MovieCard.vue"
import MovieForm from "../components/MovieForm.vue"
import moviesService from "../services/moviesService"
import mockedFilms from "../mocks/movies"

export default {
  name: "Movies",
  components: { MovieCard, MovieForm },
  data: () => ({
    search: "",
    searchState: "title",
    searchStates: ["title", "description", "director", "genre", "date"],
    dialog: false,
    importing: false,
    movies: []
  }),
  computed: {
    filteredMovies() {
      return this.search.trim()
        ? this.movies.filter(m => {
            switch (this.searchState) {
              case "date":
                return m.date === +this.search
              case "director":
                return m.director.fullName
                  .toLowerCase()
                  .includes(this.search.toLowerCase())
              default:
                return m[this.searchState]
                  .toLowerCase()
                  .includes(this.search.toLowerCase())
            }
          })
        : this.movies
    }
  },
  created() {
    this.movies = this.fetchMovies()
    if (!this.movies.length) {
      this.importing = true
      mockedFilms.forEach(movie => {
        this.createMovie(movie)
        setTimeout(() => {
          this.importing = false
        }, 1500)
      })
    }
  },
  methods: {
    fetchMovies() {
      return moviesService.findAll()
    },
    createMovie(e) {
      this.movies.unshift(e)
      moviesService.create(e)
      this.dialog = false
    }
  }
}
</script>

<style scoped>
.margin-one {
  margin: 1%;
}
</style>
