<template>
  <v-row align="center" class="wrapper">
    <v-form ref="form" v-model="valid">
      <h2>Ajouter un nouveau film</h2>
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-text-field
              v-model="nextMovie.title"
              label="Titre*"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="nextMovie.description"
              class="mx-2"
              auto-grow
              required
              label="Description*"
            ></v-textarea>
          </v-col>
          <v-col cols="6" md="3">
            <v-text-field
              v-model="nextMovie.date"
              label="Année de sortie*"
              type="number"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="6" md="3">
            <v-text-field
              v-model="nextMovie.lang"
              label="Langue*"
              type="text"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="6" md="3">
            <v-text-field
              v-model="nextMovie.genre"
              label="Genre*"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="6" md="3">
            <v-text-field
              v-model="nextMovie.poster"
              label="Url du poster"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
      <h3>Réalisateur</h3>
      <v-container>
        <v-row></v-row>
        <v-col cols="12">
          <v-text-field
            v-model="nextMovie.director.fullName"
            label="Nom complet*"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="nextMovie.director.nationality"
            label="Nationalité*"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label for="birthDate">Date de naissance*</label>
          <v-date-picker
            v-model="nextMovie.director.birthDate"
            name="birthDate"
            full-width
            required
            color="green lighten-1"
          ></v-date-picker>
        </v-col>
      </v-container>
      <small>*indicates required field</small>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="!valid"
        color="success"
        class="mr-4"
        @click="emitNextMovie"
      >
        Validate
      </v-btn>
    </v-form>
  </v-row>
</template>

<script>
export default {
  name: "MovieForm",
  props: {
    movie: {
      type: Object,
      default: () => ({ director: {} })
    }
  },
  data: () => ({
    valid: false,
    nextMovie: undefined
  }),
  created() {
    this.nextMovie = Object.assign(this.movie)
  },
  methods: {
    validate() {},
    emitNextMovie() {
      this.$emit("submit-movie", this.nextMovie)
    }
  }
}
</script>

<style scoped>
.wrapper {
  background: #fff;
  margin: 0;
  padding: 30px;
}
.col {
  padding: 0;
}
</style>
