<template>
  <!-- <v-card class="mx-auto" max-width="344">
    <v-img :src="movie.poster" height="200px"></v-img>

    <v-card-title>
      {{ movie.title }}
    </v-card-title>

    <v-card-text>{{ movie.date }}</v-card-text>

    <v-card-subtitle>
      {{ movie.description }}
    </v-card-subtitle>

    <v-card-actions>
      <router-link :to="{ name: 'movie', params: { id: movie.id } }">
        <v-btn text color="deep-purple accent-4">
          voir plus
        </v-btn>
      </router-link>
    </v-card-actions>
  </v-card> -->
  <router-link
    class="movie-card"
    :to="{ name: 'movie', params: { id: movie.id } }"
  >
    <div>
      <v-img
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.3)"
        class="white--text align-end full-height"
        :src="movie.poster"
        :alt="altGenerator"
      >
        <h2>{{ movie.title }}</h2>
      </v-img>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "MovieCard",
  props: {
    movie: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  computed: {
    altGenerator() {
      return `Affiche du film ${this.movie.title}`
    }
  }
}
</script>

<style scoped>
.movie-card {
  margin: 1%;
  display: inline-block;
  width: 14.6%;
  height: 230px;
}
.movie-card > div {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.movie-card .full-height {
  height: 100%;
}
h2 {
  margin: 0 0 8px 8px;
}
@media screen and (max-width: 991px) {
  .movie-card {
    width: 23%;
    margin: 1%;
    height: 260px;
  }
}
@media screen and (max-width: 640px) {
  .movie-card {
    height: 200px;
  }
}
@media screen and (max-width: 520px) {
  .movie-card {
    height: 250px;
    margin: 1%;
    width: 31.3%;
  }
}
@media screen and (max-width: 479px) {
  .movie-card {
    height: 250px;
    margin: 1.5%;
    width: 47%;
  }
}
</style>
