<template>
  <div>
    <v-btn v-for="index in 5" :key="index" icon @click="onClick(index)">
      <v-icon v-if="rating >= index">
        mdi-star
      </v-icon>
      <v-icon v-if="rating < index && rating > index - 1">
        mdi-star-half-full
      </v-icon>
      <v-icon v-if="rating < index && !(rating > index - 1)">
        mdi-star-outline
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    rating: {
      type: Number,
      default: 0
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick(newRating) {
      this.$emit("change-rating", newRating)
    }
  }
}
</script>

<style scoped></style>
