<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: "App"
}
</script>

<style>
.no-padding {
  padding: 0 !important;
}
.v-application a {
  text-decoration: none;
}
</style>
